.header {
    position: fixed;
    top: 0;
    margin: 0 auto;
    /* margin-bottom: 10px; */
    padding-top: 3px;
    z-index: 1000;
    width: 400px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}
