.header {
    position: fixed;
    top: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    z-index: 1000;
    background: #61dafb;
    width: 400px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}
