.swiper {
    height: 300px; /* 높이를 자동으로 조정 */
    background-color: #fff;
    padding: 10px 0; /* 패딩 추가 */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    border-radius: 15px; /* 전체 swiper의 모서리를 둥글게 */
    overflow: hidden; /* 둥근 모서리 안에서 이미지를 잘라내기 위해 overflow hidden */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 15px; /* 각 slide의 모서리를 둥글게 */
    overflow: hidden; /* 둥근 모서리 안에서 이미지를 잘라내기 위해 overflow hidden */
}

.swiper-slide img {
    display: block;
    max-width: 400px;
    object-fit: cover;
    border-radius: 15px; /* 이미지의 모서리를 둥글게 */
}
